@font-face {
  font-family: "Red Hat Display";
  src: url("./RedHatDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./RedHatDisplay-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
